*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.container{
  width: 1000px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}


/* header Section */
.header-section{
  background-color: #FFF8F3;
  height: 100vh;
  background-image: url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 700px;
  padding: 20px 0px;
}

.bg{
  background-image: url(./images/developer.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position-x: 20px;
}


/* menu section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul{
  display: flex;
  gap: 24px;
  align-items: center;
}

.menu ul li{
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #474747;
}

.menu .btn{
  width: 90px;
  padding: 10px 0px;
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  color: #fff;
}



/* logo */
.primary-color{
  color: #FD6E0A;
}
.logo p{
  font-size: 45px;
  font-weight: 800;
  line-height: 60px;
}


/* header content */

.header-contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-img img{
  max-width: 96%;
  margin-left: 100px;
  margin-top: 20px;
}
.header-img{
  width: 50%; 
}
.header-text{
  width: 40%;
}

.header-text span {
font-weight: 600;
font-size: 45px;
line-height: 61px;
color: #474747;
}

.header-text h1{
font-weight: 700;
font-size: 60px;
line-height: 116px;
color: #181818;
}

.header-text p{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #757575;
}

.header-text .btn{
  width: 120px;
  padding: 10px 0px;
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-right: 5px;
  margin-top: 15px;
}

.header-text .btn2{
  width: 100px;
  padding: 10px 0px;
  background-color: #FFF8F3;
  /* border: none; */
  border: 1px solid  #FD6E0A;
  border-radius: 5px;
  color: #FD6E0A;
  margin-top: 15px;
}

/* About Section */

.about{
  background-color: #FFF8F3;
  margin: 100px 0px;
  padding: 110px;
}

.about-content h2{
font-weight: 700;
font-size: 35px;
line-height: 48px;
text-align: center;
color: #181818;
}

.about-content > p{
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #757575;
padding-top: 20px;
}

.about-info{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}

.info span{
  font-size: 17px;
  color: #757575;
}
.info p{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #121111;
}

/* who am i section */

.what-content h3{
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;  
  text-align: center;
  color: #181818;
}

.what-content p{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  padding: 40px 0px;
}

/* skill section */

.technologies{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  
}

.skills{
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  }
  .skills h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #181818;
    padding: 10px 0px;
  }

  .skills p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
  }

  /* resume section */
  .summary{
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin: 90px 0px;
  }
.resume-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 51px;
  /* padding: 18px 0px; */
  color: #474747;
}
  .resume{
    display: flex;
  }

  .education{
    padding: 0px 15px;
  }

  .education h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #474747;
    padding-top: 15px;
  }
  .education span{
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    color: #757575;
  }

  .education p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding: 20px 0px;
  }
  hr{
    border: 1px solid #D1D1D1;
  }

  .experience{
    padding: 0px 15px;
  }

  .experience h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #474747;
    padding-top: 15px;
  }
  .experience span{
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    color: #757575;
  }

  .experience p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding: 20px 0px;
  }
.download-btn{
  text-align: center;
  margin-bottom: 70px;
}
  .download-btn button{
    width: 120px;
    padding: 10px 0px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
    margin-top: 15px;
  }

  /* contact section */
.bg-color{
  background-color: #FFF8F3;
}
  .contact{
    display: flex;
    justify-content: space-between;
    gap: 110px;
    padding: 130px 0px;
}

.connect h5{
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
  padding: 20px 0px;
}
.connect p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #474747; 
}
.social{
  padding: 20px 0px;
}
.message h4{
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
  padding: 20px 0px;
}

input{
  width: 100%;
  margin: 10px 0px;
  border: none;
  padding: 20px;
  border-radius: 5px;
}
textarea{
  width: 100%;
  margin: 10px 0px;
  border: none;
  padding: 20px;
  border-radius: 5px;
}
input[type="submit"]  {
    width: 30%;
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    height: 50px;
    line-height: 50%;
}


/* Responsive */


@media screen and (max-width: 576px) {
  .header-section {
    height: 80vh;
    padding: 0px;
  }
  .bg{
    background-image: none;
  }
  .container{
    width: 95%;
  }
  input , textarea {
    width: 90%;
  }
  .logo p {
    font-size: 20px;
  }
  .menu ul li a {
    font-size: 16px 
  }
  .header-img{
    display: none;
  }
  .header-text {
    width: 100%;
    padding-top: 120px;
  }
  .about {
    padding: 100px 20px;
  }
  .about-info, .technologies, .resume, .contact {
    flex-wrap: wrap;
  }
  .info {
    padding: 10px 0px;
  }
}